<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.example.models.Defender" level="trace"/>
    <logger name="org.example.models.Warrior" level="trace"/>
    <logger name="org.example.models.Vampire" level="trace"/>
    <logger name="org.example.models.Lancer" level="trace"/>
    <logger name="org.example.models.Knight" level="trace"/>

</configuration>